@model Ams.Models.Teacher

@{
    ViewBag.Title = "Create";
}

<h2>Add</h2>
<style>
    /* Button Styles */
    .btn.btn-default {
        background-color: #007bff; /* Blue background color */
        color: #fff; /* White text color */
        border: none; /* Remove border */
        padding: 10px 20px; /* Add padding for better appearance */
        border-radius: 5px; /* Add border radius for rounded corners */
        font-size: 16px; /* Adjust font size */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
    }

        .btn.btn-default:hover {
            background-color: #0056b3; /* Darker blue background color on hover */
        }

</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Teacher</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="Dashboard Actions">
                <a href="@Url.Action("Index", "Teachers")" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
