@model IEnumerable<Ams.Models.Teacher>

@{
    ViewBag.Title = "Index";
}
<style>
    h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333; /* Adjust color as needed */
        margin-top: 20px; /* Adjust margin as needed */
    }
    .right {
        text-align: right;
    }
</style>
<h2>Teachers</h2>


    <div class="row">
        <div class="col-md-12 right">
            <div class="btn-group" role="group" aria-label="Dashboard Actions">
                <a href="@Url.Action("Create", "Teachers")" class="btn btn-primary">Add Teachers</a>
            </div>
        </div>
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherID })
        </td>
    </tr>
}

</table>
